
/* Dégradé de couleurs pour le fond */
header {
	background-color: unset !important;
}

body {
	background: linear-gradient(45deg, rgb(0, 0, 0), #00BFFF);
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#body {
	background-color: rgba(255, 255, 255, .4);
	width: 80%;
	min-height: 100%;
}

#header-connexion {
	position: relative;
	z-index: 1;
}

/* Style pour les liens */
header div a {
	color: black;
	text-decoration: none;
	transition: all .3s;
}

a {
	text-decoration: underline;
	color: #FF7377;
}

/* Style pour les boutons */
.btn-primary {
	background: linear-gradient(to bottom right, #0066cc, #cc0000);
	border-color: #cc0000;
	opacity: .7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.col-md-4 {
	text-align: center;
}

input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* Style pour les formulaires */
.form-control {
	background-color: rgba(255, 255, 255, 0.8);
	border-color: #cc0000;
}

/* Style pour les alertes */
.alert {
	background: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
}

/* Style pour les titres */
h1, h2, h3 {
	text-align: center;
	opacity: .7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

h5 {
	text-align: center;
	opacity: .7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

h4 {
	text-align: center;
	opacity: .7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	font-size: 2.5rem;
	/*margin: 250px;*/
}

p {
	opacity: .7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	margin: 5px;
}
/* Style pour les en-têtes de tableau */
.table th {
	background-color: #cc0000;
	opacity: .7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

/* Style pour les pages de profil utilisateur */
.profile {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	opacity: .7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

/* Style pour les listes d'enchères */
.auctions {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Style pour les pages de vente d'article */
.sell-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Style pour les pages d'affichage de détails d'enchère */
.auction-details {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}